.form {
  display: block;
  max-width: 385px;
  font-family: inherit;
  padding: 0;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__label {
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

.form__input {
  margin: 0 0 32px 0;
  height: 60px;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #838383;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  max-width: 385px;
  height: 60px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-weight: 500;
  transition: 2s ease;
  width: 100%;
}

.form__button:hover {
  opacity: 70%;
  cursor: pointer;
}

.form__checkbox {
  border-radius: 2px;
  accent-color: #2f80ed;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin: 32px 0 0;
}
