.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.header__title {
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.header__paragraph {
  font-weight: 500;
  color: #6f6f6f;
  margin: 0;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin: 24px 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: auto;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-size: cover;
  padding: 100px 0 120px;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
  text-align: center;
}

.reservation__form {
  margin: auto;
}

.form {
  display: block;
  max-width: 385px;
  font-family: inherit;
  padding: 0;
}

.form__fieldset {
  border: 0;
  padding: 0;
}

.form__label {
  margin: 0 0 8px 0;
  font-weight: 500;
}

.form__input {
  margin: 0 0 32px 0;
  height: 60px;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border-color: #838383;
  box-sizing: border-box;
}

.form::placeholder {
  color: #838383;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  background-color: #2f80ed;
  max-width: 385px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-weight: 500;
  transition: 2s ease;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  gap: 12px;
  border-radius: 2px;
  accent-color: #2f80ed;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}
